footer {
	display: block;
	float: left;
	width: 100%;
	height: 800px;
	background-color: #222629;
	position: relative;
	padding: 100px 0px;
	@media(max-width: $screen-sm-max) {
		height: auto;
	}
.hidden-sm {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		display: none !important;
	}
}
.hidden-md {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: none !important;
	}
}

	[class*="span"] {
		padding: 20px 16px;
		margin: 0;
		&:before, &:after {
			display: none;
		}
	}
	h4 {
		color: $brand-color;
		font-weight: bold;
		font-size: 18px;
	}
	.span4 {
		width: 33.3332%;
		&.deets {
			width: 27%;
		}
		@media(max-width: $screen-md-max) {
			width: 60%;
			&.deets {
				width: 40%;
			}
		}
		li a {
			color: #C3CFD4;
			font-size: $default-font-size;
			border: none;
			text-transform: none;
		}
	}
	.copy {
		width: 100%;
		float:left;
		padding: 20px 16px;
	}
	p, ul, li, li a {
		color: #C3CFD4;
	}
	a {
		color: $brand-color;
	}
	p, li {
		margin-bottom: 10px;
	}
	.left-col {
		@media(min-width: $screen-md-min) {
			position: absolute;
			left: 50%;
			width: 440px;
			margin-left: -463px;
		}
		@media(min-width: $screen-lg-min) {
			position: absolute;
			left: 50%;
			width: 690px;
			margin-left: -592px;
		}
		@media(max-width: $screen-sm-max) {
			display: none;
		}
		
	}
	.right-col {
		background-color: #292F33;
		height: 100%;
		width: calc(100vw - 50% - 110px);
		position: absolute;
		left:50%;
		top: 0;
		margin-left: 110px;
		padding: 100px;
		@media (max-width: $screen-md-max) {
			background-color: #292F33;
			height: 100%;
			width: calc(100vw - 40% - 70px);
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: 0px;
			padding: 100px;
		}
		.contain-right {
			width: 373px;
			@media(max-width: $screen-md-max) {
				
			}
		}
	}
	.right-col {
		@media (max-width: $screen-sm-max) {
			width: 100%;
			margin-left: 0;
			position: static;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 40px;
			padding-right: 40px;
			background: transparent;
			p, h3, h4 {
				text-align: center;
			}
			.contain-right, .contain-left {
				width: auto;
			}
			.wpcf7-submit {
				width: 200px;
				margin: 0 auto;
				display: block;
			}
		}
	}
	.thelogo {
		img {
			height: 59px;
			width: auto;
		}
	}
	a.tel, a.email {
		color: $brand-color;
		text-transform: none;
		font-size: $default-font-size;
		border: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.soc {
		margin-top: 20px;
		a {
			text-decoration: none;
			border-bottom: none;
			background-color: $brand-color;
			font-size: 18px;
			padding: 6px;
			margin-right: 5px;
			border-radius: 16px;
			&:hover {
				background: lighten($brand-color, 20%);
			}
		}
	}
	ul {
		list-style: none;
		li {
			margin: 0px;
			a {
				color: #C3CFD4;
				font-size: $default-font-size;
				border: none;
				text-transform: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.friends {
		width: 100%;
    float: left;
    padding: 15px 15px 0px 15px;
		margin-top: 100px;
		img {
			max-width: 100%;
		}
		p {
			margin-bottom: 0px;
		}
	}
}